In [2]:
import pandas as pd

In [10]:
population_data = pd.read_csv('/Users/aribina/Documents/Projects/project_1/data/population.csv')
print(population_data)

                  country   1800   1801   1802   1803   1804   1805   1806  \
0             Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
1                  Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
2                 Albania   400k   402k   404k   405k   407k   409k   411k
3                 Andorra   2650   2650   2650   2650   2650   2650   2650
4    United Arab Emirates  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k
..                    ...    ...    ...    ...    ...    ...    ...    ...
192                 Samoa  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k
193                 Yemen  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M
194          South Africa  1.45M  1.45M  1.46M  1.46M  1.47M  1.47M  1.48M
195                Zambia   747k   758k   770k   782k   794k   806k   818k
196              Zimbabwe  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M

      1807   1808  ...   2091   2092   2093   2094   2095   2096   2097  \
0    3.28M  3.28M  ...   108M   108M   109M   109M   109M   110M   110M
1    1.57M  1.57M  ...   125M   126M   127M   128M   129M   130M   131M
2     413k   414k  ...  1.35M  1.32M  1.29M  1.26M  1.23M  1.21M  1.18M
3     2650   2650  ...  62.5k  62.2k  61.9k  61.7k  61.4k  61.2k  60.9k
4    40.2k  40.2k  ...  13.5M  13.5M  13.6M  13.7M  13.8M  13.8M  13.9M
..     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
192  47.2k  47.2k  ...   432k   434k   435k   436k   437k   438k   439k
193  2.59M  2.59M  ...  73.2M  73.3M  73.5M  73.6M  73.7M  73.8M  73.9M
194  1.49M  1.49M  ...  75.6M  75.5M  75.4M  75.3M  75.2M  75.1M    75M
195   831k   843k  ...  60.3M  60.7M  61.1M  61.5M  61.9M  62.2M  62.6M
196  1.09M  1.09M  ...  35.1M  35.2M  35.3M  35.4M  35.4M  35.5M  35.5M

      2098   2099   2100
0     110M   111M   111M
1     131M   132M   133M
2    1.15M  1.12M   1.1M
3    60.7k  60.5k  60.2k
4      14M    14M  14.1M
..     ...    ...    ...
192   440k   441k   441k
193    74M  74.1M  74.2M
194  74.8M  74.7M  74.6M
195  62.9M  63.3M  63.6M
196  35.6M  35.6M  35.6M

[197 rows x 302 columns]

In [11]:
life_expectancy = pd.read_csv('/Users/aribina/Documents/Projects/project_1/data/life_expectancy.csv')
print(life_expectancy)

                  country  1800  1801  1802  1803  1804  1805  1806  1807  \
0             Afghanistan  28.2  28.2  28.2  28.2  28.2  28.2  28.1  28.1
1                  Angola  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0
2                 Albania  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4
3                 Andorra   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4    United Arab Emirates  30.7  30.7  30.7  30.7  30.7  30.7  30.7  30.7
..                    ...   ...   ...   ...   ...   ...   ...   ...   ...
190                 Samoa  25.4  25.4  25.4  25.4  25.4  25.4  25.4  25.4
191                 Yemen  23.4  23.4  23.4  23.4  23.4  23.4  23.4  23.4
192          South Africa  33.5  33.5  33.5  33.5  33.5  33.5  33.5  33.5
193                Zambia  32.6  32.6  32.6  32.6  32.6  32.6  32.6  32.6
194              Zimbabwe  33.7  33.7  33.7  33.7  33.7  33.7  33.7  33.7

     1808  ...  2091  2092  2093  2094  2095  2096  2097  2098  2099  2100
0    28.1  ...  75.5  75.7  75.8  76.0  76.1  76.2  76.4  76.5  76.6  76.8
1    27.0  ...  78.8  79.0  79.1  79.2  79.3  79.5  79.6  79.7  79.9  80.0
2    35.4  ...  87.4  87.5  87.6  87.7  87.8  87.9  88.0  88.2  88.3  88.4
3     NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4    30.7  ...  82.4  82.5  82.6  82.7  82.8  82.9  83.0  83.1  83.2  83.3
..    ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
190  25.4  ...  79.8  79.9  80.0  80.1  80.3  80.4  80.5  80.6  80.7  80.8
191  23.4  ...  76.9  77.0  77.1  77.3  77.4  77.5  77.6  77.8  77.9  78.0
192  33.5  ...  76.4  76.5  76.7  76.8  77.0  77.1  77.3  77.4  77.5  77.7
193  32.6  ...  75.8  76.0  76.1  76.3  76.4  76.5  76.7  76.8  77.0  77.1
194  33.7  ...  73.3  73.4  73.5  73.7  73.8  73.9  74.0  74.2  74.3  74.4

[195 rows x 302 columns]

In [12]:
sugar_data = pd.read_csv('/Users/aribina/Documents/Projects/project_1/data/sugar_per_person_g_per_day.csv')
print(sugar_data)

                  country   1961   1962   1963   1964   1965   1966   1967  \
0             Afghanistan   14.4   12.8   13.2   15.5   16.3   16.7   17.4
1                  Angola   25.2   30.6   33.6   29.5   29.5   28.8   29.4
2                 Albania   31.0   31.8   34.3   36.5   37.0   37.7   38.3
3    Netherlands Antilles   91.9   93.4   89.5   96.3   96.0   90.0   90.2
4                     UAE   97.2   98.4   97.6   93.3   93.8   83.3   96.0
..                    ...    ...    ...    ...    ...    ...    ...    ...
174                 Yemen   28.9   31.3   28.0   28.1   39.3   41.9   42.5
175            Yugoslavia   54.5   52.1   57.5   62.5   74.7   76.9   78.0
176          South Africa  108.0  108.0  118.0  119.0  115.0  109.0  102.0
177                Zambia   17.3   16.7   16.8   17.2   17.8   19.4   27.0
178              Zimbabwe   27.6   32.7   35.3   33.9   40.4   42.3   47.3

      1968   1969  ...   2009   2010   2011   2012   2013   2014   2015  \
0     17.8   14.5  ...   23.3   24.2   24.8   25.4   24.5   34.7   32.6
1     34.5   29.9  ...   40.2   38.9   40.1   42.7   44.7   60.2   59.9
2     38.6   40.9  ...  117.0  113.0  122.0  129.0  131.0   83.2   94.2
3     95.6   93.2  ...  165.0  173.0    NaN    NaN    NaN    NaN    NaN
4    108.0  113.0  ...   94.1  107.0   95.3   98.8  101.0  123.0  124.0
..     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
174   49.0   45.2  ...   74.7   78.6   81.4   79.8   77.9   91.2   82.1
175   76.7   79.4  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
176  105.0  105.0  ...   83.2   96.4   95.8   98.7  101.0  122.0  125.0
177   32.6   34.5  ...   28.5   28.0   28.4   30.1   28.1   30.8   30.5
178   45.7   46.8  ...   61.1   65.8   68.9   79.0   80.6   94.1   96.7

      2016   2017   2018
0     29.9   32.6   34.9
1     58.4   62.2   55.8
2     98.8   98.7  101.0
3      NaN    NaN    NaN
4    117.0  105.0  114.0
..     ...    ...    ...
174   77.0   85.7   82.4
175    NaN    NaN    NaN
176  119.0  114.0  113.0
177   30.2   30.7   31.4
178   88.6   85.6   85.9

[179 rows x 59 columns]